body {
	background-color: #FAEBD7;
}

h1 {
	position: relative;
	font-style: Bold;
	font-size: 38px;
	margin: auto;
	padding: 15px;
	text-align: center;
	background-color: #7FFFD4;
}	

h2 {
	position: relative;
	font-style: Bold;
	font-size: 30px;
	margin: auto;
	padding: 10px;
	text-align: left;
	background-color: #DEB887;
}	

h3 {
	position: relative;
	font-style: Bold;
	font-size: 26px;
	margin: auto;
	padding: 10px;
	text-align: left;
	background-color: #DCDCDC;
	color: #708090;
	border: 2px solid black;
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
